{% extends 'layout.html' %}
{% block body %}

    <main role="main" class="container">
        <div class="jumbotron text-center">
            <h1>Sistem Rekomendasi Poliklinik</h1>
            <p class="tex">Sistem ini dibangun oleh :</p>
            <div>
                <a class="btn btn-lg btn-secondary disabled " role="button">Jubey Simanjuntak</a>
                <h6>NIM : 11S16004</h6>
                <h6>ifs16004@students.del.ac.id</h6><br>

            </div>
            <div>
                <a class="btn btn-lg btn-secondary disabled" role="button">Glory Sitohang</a>
                <h6>NIM : 11S16030</h6>
                <h6>ifs16030@students.del.ac.id</h6><br><br><br>
                <strong>@Copy Right | IT Del | TA-02-IF 2020</strong>
            </div>

        </div>
    </main>

{% endblock %}

